# Instructions 

1. Import pandas and mitosheet.  
2. Import the Salary Data.csv as a pandas dataframe.
3. Render the dataframe as a Mito Sheet.
4. Salary Data Contains the names of employees with their salaries in 2019, 2018, and 2017.
5. Please provide the Salary ID, which is the first three letter of the employee's name in uppercase, followed by their average salary for the past 3 years.
6. Once complete, rerun your analysis on Salary Data2.csv

In [1]:
import pandas as pd
import mitosheet
df = pd.read_csv('./Salary Data.csv')

# MITO CODE START

from mitosheet import AVG,CLEAN,CONCATENATE,FIND,LEFT,LEN,LOWER,MID,MULTIPLY,PROPER,RIGHT,SUBSTITUTE,SUM,TRIM,UPPER

df['H'] = 0

df['G'] =  AVG(df['B'],df['C'],df['D'])

df['E'] =  LEFT(df['A'],3)

df['F'] =  UPPER(df['E'])

# MITO CODE END

mitosheet.sheet(df)

MitoWidget(code_json='{"code": "0"}', column_spreadsheet_code_json='{"A": "", "B": "", "C": "", "D": ""}', sheâ€¦

In [2]:
# Import Test2.csv as Pandas Dataframe
df = pd.read_csv('./Test2.csv')

In [3]:
# Run the same analysis on Test2.csv, using the code Mito generates
df['C'] = df['A'] + df['B']

In [4]:
# Show Results
df.head()

    A   B    C
0  75  61  136
1  12   6   18
2  80   9   89
3  38  21   59
4  98  39  137